@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Quicksand&display=swap');
/*font-family: 'Montserrat', sans-serif;*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Principal{
    height: 100vh;
    width: 100vw;
    background-image: url("../assets/Nombre-fotor-20230807152251.jpg");
    background-size: 30%;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.cardEncabezado{
    height: 65px;
    width: 1365px;
    background-color:#18181b ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin-top: 5px;
    padding-inline: 10px;
    margin-top: 10px;
}

.cardEncabezado h1{
    color: white;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    padding: 60px;
    margin-left: 180px;
}
.cardEncabezado h2{
    color: white;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    padding-right: 60px;
    margin-left: 5px;
    
}
.btnPerfil{
    height: 50px;
    width: 50px;
    background-image: url("../assets/perfil.png");
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    border-radius: 100%;
    margin-left: 440px;
    cursor: pointer;
}

.cardGrande{
    height: auto;
    width: 1200px;
    background: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cardIzquierda{
    height: auto;
    width: 450px;
    display: flex;
    flex-direction: column;
}
.btnElectro{
    height: 150px;
    width: 400px;
    background-color: rgba(13, 34, 150, 0.801);
    background-image: url("../assets/electrodomesticos.png");
    background-repeat: no-repeat;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    padding-left: 120px;
    margin-left: 150px;
    cursor: pointer;
}
.btnElectro:hover{
    background-color: rgba(8, 21, 95, 0.801);
}
.btnFruteria{
    height: 150px;
    width: 400px;
    background-color: rgba(13, 34, 150, 0.801);
    background-image: url("../assets/fruteria1.png");
    background-repeat: no-repeat;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin-top: 30px;
    padding-left: 120px;
    margin-left: 150px;
    cursor: pointer;
}
.btnFruteria:hover{
    background-color: rgba(8, 21, 95, 0.801);
}
.btnTiendas{
    height: 150px;
    width: 400px;
    background-color: rgba(13, 34, 150, 0.801);
    background-image: url("../assets/tienda2.png");
    background-repeat: no-repeat;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin-top: 30px;
    padding-left: 120px;
    margin-left: 150px;
    cursor: pointer;
}
.btnTiendas:hover{
    background-color: rgba(8, 21, 95, 0.801);
}
.btnRopa{
    height: 150px;
    width: 400px;
    background-color: rgba(13, 34, 150, 0.801);
    background-image: url("../assets/ropa.png");
    background-repeat: no-repeat;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin-top: 30px;
    padding-left: 120px;
    margin-left: 250px;
    cursor: pointer;
}
.btnRopa:hover{
    background-color: rgba(8, 21, 95, 0.801);
}
.btnComida{
    height: 150px;
    width: 400px;
    margin-left: 40px;
    background-color: rgba(13, 34, 150, 0.801);
    background-image: url("../assets/comida.png");
    background-repeat: no-repeat;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin-top: 30px;
    padding-left: 120px;
    margin-left: 250px;
    cursor: pointer;
}
.btnComida:hover{
    background-color: rgba(8, 21, 95, 0.801);
}
.btnArtesanias{
    height: 150px;
    width: 400px;
    margin-left: 40px;
    background-color: rgba(13, 34, 150, 0.801);
    background-image: url("../assets/artesanias.png");
    background-repeat: no-repeat;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin-top: 30px;
    padding-left: 120px;
    margin-left: 250px;
    cursor: pointer;
}
.btnArtesanias:hover{
    background-color: rgba(8, 21, 95, 0.801);
}
.cardDerecha{
    height: auto;
    width: 450px;
    display: flex;
    flex-direction: column;
}


.logoCategorias{
    width: 100px;
    height: 70px;
    border-radius: 100%;
    margin-left: 50px;
    margin-top: 15px;
    padding-right: 1px;
}