*{
    padding: 0;
    margin: o;
    box-sizing: border-box;
    
}

.Total {
    width: 100vw;
    justify-content: top;
    align-items: center;
    background-color: rgb(192, 236, 221); 
}

.cardEncabezado1{
    height: 65px;
    width: 100vw;
    background-color:#18181b ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-inline: 10px;
}

.izquierda{
    height: 65px;
    width: 33vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.centro{
    height: 65px;
    width: 33vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.derecha{
    height: 65px;
    width: 33vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}
.cardEncabezado1 h1{
    color: white;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
}
.cardEncabezado1 h2{
    color: white;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
}

.btnCerrarSesion{
    height: 30px;
    width: 30px;
    background-image: url("../assets/cerrarSesion.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    margin-left: 5px;
}

.btnAjustes{
    height: 30px;
    width: 30px;
    background-image: url("../assets/ajustes.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    border-radius: 100%;
    cursor: pointer;
}
.cardGrande2 {
    width: 100vw;
    overflow-x: hidden;
    background-color: rgb(224, 202, 224);
}
.ImagenPerfil {
    width: 250px;
    height: 300px;
    margin-left: 30px;
    margin-top: 60px;
    border: 6px;
    border-radius: 100%;
    margin-top: -300px;
    margin-left: 100px;
    background-color: white;
}

.imgSubirPerfil{
    width: 150px;
    height: 150px;
    border: 6px;
    border-radius: 100%;
    background-color: white;
}
.imgSubirPortada{
    width: 100vw;
    height: 500px;
}


.ImagenPortada{
   width: 100vw;
   height: auto;
}


.descripcion {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 30px;
    background-color: rgb(224, 202, 224); 
}
.direccion{
    display: grid;
    place-items: center;
    margin-bottom: 10px;
    text-decoration: none;
    width: 100vw;
    height: 30px;
    background-color: rgb(224, 202, 224);
}



.slogan {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 30px;
    margin-top: 10px;
    background-color: rgb(224, 202, 224);
}
.cardImagenes {
    display: flex;
    flex-direction: row;
    background-color: #18181b;
    overflow-x:scroll;
}

.imagen{
    margin: 10px;
    height: 100%;
    width: auto;
}

.cardImagenes scroll-container {
    display: flex;
    width: 100vw;
    height: 50vh;
    margin-left: 1px;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.logoCategorias1{
    width: 100px;
    height: 70px;
    border-radius: 100%;
    margin-top: 15px;
    padding-right: 1px;
    margin-left: 10px;
}



